$primary-color: #3b36db;
$safe-color: #37c5a0;
$info-color: #54b4e0;
$warn-color: #ed952e;
$danger-color: #ef476f;
$primary-color-seconary: #e0dfff;
$safe-color-seconary: #b4f2e2;
$info-color-seconary: #e2f6ff;
$warn-color-seconary: #fff1d1;
$danger-color-seconary: #fac7d3;
$box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
$box-radius: 5px;
$box-border: 1px solid rgba(0, 0, 0, 0.1);
$antd-button-text: rgba(0, 0, 0, 0.85);
$dropdown-hover-bg: #e2f6ff;
$dropdown-selected-bg: #f5f5f5;
$placeholder-color: #dadcde;
$tooltip-bg: #051322e6;

// sider color start
$sider-bg-light: #f2f6ff;
$sider-item-text-light: #98b3c8;
$sider-item-icon-light: #98b3c8;
$sider-item-selected-light: $primary-color;
$sider-item-active-light: $primary-color;
$sider-item-active-text: #ffffff;
$sider-item-selected-border-light: $primary-color;
$sider-item-selected-border: $primary-color;
$sider-bg-dark: #4f5b93;
// sider color end
$text-dark: #091427;
$text-light: #98b3c8;
// header variables start
$header-text: $text-dark;
$header-bg: #ffffff;
$header-bar-icon-bg: $primary-color;
$header-hover-bg: #f0f0f0;
$header-dropdown-bg: #f0f0f0;
$header-dropdown-hover-bg: #e9ecf2;
$header-height: 72px;
// header variables end

// table variables start
$table-head-bg: #fafafa;
$table-head-text: #334c66;
$table-body-text: #5c666f;
// table variables end

// table pagination variables start
$table-pagination-text-color: #5c666f;
// table pagination variables end

//customize display start
$customizeModal-text: #051322;
$customizeModal-title: #8892be;
//customize display end

// filter variables start
$filter-title-color: #102e4d;
$filter-title-btn-color: #969ca1;
$filter-text-color: #5c666f;
$filter-bg: #ffffff;
$filter-active-icon: $primary-color;
// filter variables end

// alert start
$alert-error-bg: #fac7d3;
$alert-success-bg: #b4f2e2;
$alert-text: #051322;
// alert end

// Action button start
$action-item-hover-bg: $dropdown-hover-bg;
$action-item-disabled-text: rgba(0, 0, 0, 0.25);
// Action button end

//server detail start
$server-detail-modal-title: $primary-color;
$server-detail-card-title: #102e4d;
$server-detail-card-bg: #fafafa;
$server-detail-card-text: #5c666f;
$server-detail-card-border: solid 1px #dadcde;
//server detail end

// toolbar start
$toolbar-text-color: #5c666f;
// toobar end

// pencil
$pencil-title-color: #102e4d;

// bell list
$bell-list-title-color: #102e4d;
$bell-list-subtitle-color: #5c666f;
$bell-list-content-color: #5c666f;
$bell-list-content-old-color: #dadcde;

// customized scroll
$scroll-thumb-color: #d8d8d8;
$scroll-thumb-color-hover: rgb(124, 122, 122);
$scroll-track-color-hover: #f4f1f1;

//chosen tag
$chosenTag-bg: #fafafa;
$chosenTag-border: #e8e9eb;
$chosenTag-color: #5c666f;
$chosenTag-count-color: #95a0a8;
$chosenTag-chosen-bg: $primary-color;
$chosenTag-chosen-border: rgba($primary-color, 20%);
$chosenTag-chosen-input: #ffffff;

$divider-bg-color: #969ca1;
