src/
public/
.storybook/
.eslintrc.js
.eslintignore
.gitignore
package-lock.json
node_modules
vite.config.js
.editorconfig
.env
.gitlab-ci.yml
.prettierrc.js
.yarnrc
.vscode/
tsconfig.json
Dockerfile
README.md
index.html
vite.config.ts